[submodule "modules/proxy"]
	path = modules/proxy
	url = https://github.com/patux/proxy.git
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
